<template>
  <div class="fraction" :class="{minus: value.s < 0}">
    <div class="minus"></div>
    <input type="number" :value="value.n" @input="e => changeValue('n', e.target.value)" :readonly="readonly" min="1" class="form-control form-control-sm" />
    <i class="split mb-1 mt-1"></i>
    <input type="number" :value="value.d" @input="e => changeValue('d', e.target.value)" :readonly="readonly" min="1" class="form-control form-control-sm" />
  </div>
</template>

<script>
export default {
  props: {
    value: {
      type: Object,
      require: true
    },
    setValue: {
      type: Function
    },
    readonly: {
      type: Boolean
    }
  },
  methods: {
    changeValue (name, value) {
      if (typeof this.setValue === 'function') {
        let item = {n: parseInt(this.value.n), d: parseInt(this.value.d), s: this.value.s}
        item[name] = parseInt(value)
        this.setValue(item)
      }
    }
  }
}
</script>

<style lang="scss" scoped>
  .fraction {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    &>.minus{
      display: none;
    }
    &.minus{
      position: relative;
      margin-left: 20px;
      &>.minus{
        display: block;
        position: absolute;
        top: 35px;
        left: -20px;
        width: 15px;
        height: 3px;
        background-color: #3aa2eb;
      }
    }
    .split {
      height: 3px;
      width: 100%;
      background-color: #3aa2eb;
    }
  }
</style>
