<template>
  <div>
    <div class="mb-3">
      <select :value="countFractions" @change="e => setCountFractions(e.target.value)" class="form-control form-control-sm" id="countFractions">
        <option v-for="(opt, i) in [2, 3, 4, 5, 6]" :key="i" :value="opt">{{ opt }} Fractions in expression</option>
      </select>
    </div>
    <div class="fractional-calculator mb-3">
      <div v-for="(el, i) in expression" :key="i">
        <component :is="el.type" :value="el.value" :setValue="value => setExpressionElement({value, i})"></component>
      </div>
      <div class="m-3 mt-4">=</div>
      <div class="m-3 mt-4" v-if="result === 0">0</div>
      <fraction v-else-if="result" :value="resultFraction" :readonly="true" />
      <div class="mt-4" v-else>
        <button @click="calculate()" class="form-control form-control-sm">Calculate</button>
      </div>
    </div>
    <div>
      <button @click="resetCalc()" class="form-control form-control-sm">CLEAR</button>
    </div>
  </div>
</template>

<script>
import { mapState, mapGetters, mapActions } from 'vuex'
import Fraction from './Fraction'
import Operation from './Operation'

export default {
  name: 'FractionalCalculator',
  computed: {
    ...mapState({
      expression: state => state.calc.expression,
      countFractions: state => state.calc.countFractions,
      result: state => state.calc.result
    }),
    ...mapGetters({
      resultFraction: 'calc/resultFraction',
      countEmptyFractions: 'calc/countEmptyFractions'
    })
  },
  methods: {
    ...mapActions({
      setExpressionElement: 'calc/setExpressionElement',
      calculate: 'calc/calculate',
      resetCalc: 'calc/resetCalc',
      setCountFractions: 'calc/setCountFractions'
    })
  },
  components: {
    'fraction': Fraction,
    'operation': Operation
  }
}
</script>

<style lang="scss" scoped>
  .fractional-calculator{
    display: flex;
    &>div{
      flex-wrap: wrap;
      justify-content: flex-end;
    }
  }
</style>
