<template>
  <div class="m-3 mt-4">
    <select :value="value" @change="changeValue" class="form-control form-control-sm">
      <option v-for="(opt, i) in options" :key="i" :value="i">{{ opt }}</option>
    </select>
  </div>
</template>

<script>
import { mapState } from 'vuex'
export default {
  props: {
    value: {
      type: Number,
      require: true
    },
    setValue: {
      type: Function,
      require: true
    }
  },
  computed: {
    ...mapState({
      options: state => state.calc.operationTypes
    })
  },
  methods: {
    changeValue (e) {
      if (typeof this.setValue === 'function') {
        this.setValue(parseInt(e.target.value))
      }
    }
  }
}
</script>

<style lang="scss">
  select{
    min-width: 50px;
  }
</style>
