<template>
  <b-container>
    <b-row>
      <b-col>
        <table class="table table-sm">
          <thead class="thead-dark">
            <tr>
              <th scope="col">Expression As a String</th>
              <th scope="col">Result</th>
            </tr>
          </thead>
          <tbody>
            <tr v-for="(item, i) in history" :key="i">
              <td scope="row">{{ item.expressionAsString }}</td>
              <th>{{ item.resultFraction.n === 0 ? 0 : item.resultFraction.n + '/' + item.resultFraction.d}}</th>
            </tr>
          </tbody>
        </table>
      </b-col>
    </b-row>
    <b-row v-if="historyLength">
      <b-col>
        <button @click="clearHistory()" class="form-control form-control-sm">Clear History</button>
      </b-col>
    </b-row>
  </b-container>
</template>

<script>
import { mapState, mapActions } from 'vuex'
import Fraction from '../fractional-calculator/Fraction'
export default {
  name: 'HistoryPage',
  computed: {
    ...mapState({
      history: state => state.calc.history
    }),
    historyLength () {
      return this.history.length
    }
  },
  methods: {
    ...mapActions({
      clearHistory: 'calc/clearHistory',
      setHistory: 'calc/setHistory'
    })
  },
  components: {
    'fraction': Fraction
  }
}
</script>

<style scoped>

</style>
