<template>
  <b-container>
    <b-row>
      <b-col><fractional-calculator /></b-col>
    </b-row>
  </b-container>
</template>

<script>
import FractionalCalculator from '@/components/fractional-calculator/Index'
export default {
  name: 'IndexPage',
  components: {
    'fractional-calculator': FractionalCalculator
  }
}
</script>

<style scoped>

</style>
