<template>
  <div id="app">
    <b-navbar toggleable="md" type="dark" variant="dark" class="mb-3">
      <div class="container">
        <b-navbar-toggle target="nav_collapse"></b-navbar-toggle>
        <b-navbar-brand to="/">Fractional calculator</b-navbar-brand>
        <b-collapse is-nav id="nav_collapse">
          <b-navbar-nav>
            <b-nav-item to="/history">History</b-nav-item>
          </b-navbar-nav>
        </b-collapse>
      </div>
    </b-navbar>

    <transition :name="$store.state.routerTransitionName" mode="out-in">
      <router-view/>
    </transition>
  </div>
</template>

<script>
export default {
  name: 'App'
}
</script>

<style lang="scss">
  .slide-left-leave-active,
  .slide-left-enter-active {
    transition: .2s;
  }
  .slide-left-enter {
    transform: translate(100%, 0);
  }
  .slide-left-leave-to {
    transform: translate(-100%, 0);
  }

  .slide-right-leave-active,
  .slide-right-enter-active {
    transition: .2s;
  }
  .slide-right-enter {
    transform: translate(-100%, 0);
  }
  .slide-right-leave-to {
    transform: translate(100%, 0);
  }

</style>
